.header {
    position: sticky;
    top: 0;
    align-items: center;
    padding: 2% 2%;
    background-image: url(Logo.png);
    z-index: 2;
}
.rowH {
    display:flex;
    margin: 0%;
}
.columnLH {
    margin-right: 2%;
    width:15%;
    padding-top: 3%;
    text-align: right;
    padding-left:2%;
}
.hDrop {
    background-color: whitesmoke;
    border-radius: 10%;
    border-width: 0%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.sellectM {
    display:none;
    position: absolute;
    left: -0%;
    background-color: #000000;
    min-width: 95%;
    z-index: 1;
}
.sellectM a {
    color: whitesmoke;
    padding: 4% 2%;
    text-decoration: none;
    display: block;
}
.sellectM a:hover {background-color: #ff0000;}

.dropdown:hover .sellectM {display: block;}

.dropdown:hover .hDrop {background-color: dimgray;}
.columnMH {
    margin-right: 0%;
    margin-left:2%;
    width:55%;
    text-align: left;
    padding-top: 0%;
    padding-right: 5%;
}
h1 {
    color: #ff0000;
    background-color: #000000;
    text-align: left;
    font-size: 60pt;
    font-family:'Times New Roman', Times, serif;
}
.columnRH {
    width:20%;
    padding-top: 3%;
    padding-right: 0%;
    text-align: right;
}
body {
    margin: 0%;
    background-color: whitesmoke;
    overflow-x: hidden;
}
main {
    margin-left: 4%;
    margin-right: 4%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #ff0000;
    background-color: black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50pt;
}
h3 {
    color: dimgray;
    text-align: left;
    font-size: 40pt;
}
p {
    color: dimgray;
    text-align: left;
    font-size: 25pt;
}
.row {
    display: flex;
    padding-bottom: 2%;
}
.column1 {
    text-align: left;
    width: 56%;
    padding-right: 3%;
}
.column2 {
    width: 41%;
    padding-top: 3%;
    text-align: right;
}
.column2G2 {
    width: 41%;
    padding-top: 20px;
}
h6 {
    color: dimgray;
    text-align: left;
    font-size: 15pt;
    margin-top: 2%;
    
}
iframe {
    align-content: center;
    padding-left: 35%;
}
footer {
    background-color: #000000;
}
.rowF {
    display: flex;
    width: 100%;
    margin: 4%;
    margin-bottom: 0%;
}
.columnLF {
    width: 60%;
    padding-top: 1.5%;
    padding-left: 0%;
}
.columnMF {
    width: 40%;
    padding-left: 7%;
    padding-top:0.25%;
}
h4 {
    color:#ff0000;
    font-family:'Times New Roman', Times, serif;
    font-size: 30pt;
}
.columnRF {
    width: 30%;
    padding: 0%;
    padding-top: 3%;
    padding-left: 4%;
}
button {
    position: relative;
    z-index: 1;
}
button:hover {
    opacity: 85%;
    z-index: 1;
}
#game {
    position:absolute;
    width:390px;
    height:135px;
    top:50%;
    left:50%;
    margin-top:2%; /*half of the height*/
    margin-left:22%; /*half of the width*/
}
a {
    color:#ff0000;
}
.home {
    text-decoration: none;
}
.home:hover {
    opacity: 70%;
    background-color: whitesmoke;
}
h5 {
    color: dimgray;
    text-align: left;
    font-size: 15pt;
}